<a href="https://colab.research.google.com/github/Vicysaragih/HackerRank_2024/blob/main/HackeRank_Python_Basic_Introduction_Update_29_Juni_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. IF Else**

Given an integer, , perform the following conditional actions:

1. If  is odd, print Weird
2. If  is even and in the inclusive range of  to , print Not Weird
3. If  is even and in the inclusive range of  to , print Weird
4. If  is even and greater than , print Not Weird

In [ ]:
n = int(input().strip())
if n%2!=0: #If  is odd, print Weird
    print("Weird")
else:
    if n >= 2 and n <=5: # If  is even and in the inclusive range of  to , print Not Weird
        print("Not Weird")
    elif n >= 6 and n <=20:  # If  is even and in the inclusive range of  to , print Weird
        print("Weird")
    elif n >=20:  # If  is even and greater than , print Not Weird
        print("Not Weird")

15
Weird

In [ ]:
# Python If-Else

Nilai = int(input("Masukan nilai: ").strip())

if Nilai %2 != 0:
  print("Weird")
else :
    if Nilai >=2 and Nilai <=5:
      print ("Not Weird")
    elif Nilai >= 6 and Nilai <= 20:
      print("Weird")
    elif Nilai >= 20:
      print("Weird")

Masukan nilai: 14
Weird

In [ ]:
Nilai = int(input("Masukan nilai: ").strip())

if Nilai %2 != 0:
  print("Weird")
elif Nilai >=2 and Nilai <=5:
  print("Not Weird")
elif Nilai >= 6 and Nilai <= 20:
  print("Weird")
else:
      print("Weird")

Masukan nilai: 4
Not Weird

**2. Arithmetic Operators**

The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

1. The first line contains the sum of the two numbers.
2. The second line contains the difference of the two numbers (first - second).
3. The third line contains the product of the two numbers.

In [ ]:
    print("Masukan Input:")
    a = int(input())
    b = int(input())
    print("a + b :", a + b )
    print("a - b :", a - b)
    print("a * b :", a * b)

Masukan Input:
5
3
a + b : 8
a - b : 2
a * b : 15

**3. Division**

Task
The provided code stub reads two integers,  and , from STDIN.

Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .

No rounding or formatting is necessary.

In [ ]:
    print ("Masukan input :")
    a = int(input())
    b = int(input())
    print("Hasil :")

    print( a // b)
    print(a / b)

Masukan input :
5
2
Hasil :
2
2.5

**4. Loops**

For all non-negative integer i < n, print i*2

In [ ]:
n = int(input("Masukan input : "))

awal = 0
for i in range (awal, n,):
  print(i*i)

Masukan input : 3
0
1
4

**Print Function**

input : 5

output : 12345

In [ ]:
print("Masukan Nilai Input: ")
n = int(input())
print("\nOutput: ",*range(1, n+1), sep="") # *=All value in the range

Masukan Nilai Input:
5

Output: 12345

In [ ]:
print("Masukan Nilai Input: ")
n = int(input())
print("\nOutput: ",range(1, n+1), sep="")

Masukan Nilai Input:
5

Output: range(1, 6)